.banner-area {
    height: 600px;
}

.banner-card {
    height: auto;
}

.container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.banner-left {
    margin-left: 50px;
align-self: center;}

.banner-right>img {
    height: auto;
    margin: 50px;
}

.projectsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}

.projectsContainer .item {
    flex: 1 1 300px;
}

.item img {
    height: 120px;
}

a {
    text-decoration: none;
  }
  
  a h2:hover {
    color: rgb(0, 60, 255);
  }