<p>Bei Fragen zu Inhalten können Sie mir hier gerne eine Nachricht hinterlassen. Bei Jobanfragen bitte ich um Kontaktaufnahme via Xing oder LinkedIn.</p>
<h1>Kontakt</h1>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="full-width-field" appearance="fill" > 
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="mail">
    </mat-form-field >
    <mat-form-field class="full-width-field" appearance="fill" >
        <mat-label>Zusammenfassung</mat-label>
        <input matInput maxlength="50" formControlName="summary">
      </mat-form-field>
    <mat-form-field class="full-width-field" appearance="fill">
      <mat-label>Kommentar...</mat-label>
      <textarea matInput placeholder="Your message" rows="5" maxlength="3000" formControlName="message"></textarea>
     <div style="text-align: right; color: grey">({{contactForm.get('message').value.length}}/3000)</div> 
    </mat-form-field>
    <p><button mat-raised-button color="primary" type="submit" [disabled]="!contactForm.valid">Absenden</button></p>
  </form>
