<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="'over'"
      [opened]="false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of toolbarItems" [href]="item.href">{{item.label}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>M. Stachl</span>
      <span class="example-spacer"></span>
      <ng-container *ngIf="(isHandset$ | async) == false">
        <a *ngFor="let item of toolbarItems" [href]="item.href">{{item.label}}</a>
      </ng-container>
      <button style="font-size: 20px" mat-icon-button disabled [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        EN
        <mat-icon>arrow_drop_down</mat-icon> 
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          EN
        </button>
        <button mat-menu-item>
          DE
        </button>
      </mat-menu>
    </mat-toolbar>
    <!-- Add Content Here -->
    <main>
    <ng-content></ng-content>
  </main>
  <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
