<footer >
<div class="footer-container">
 <div >
     <h2>Über diese Seite</h2>
     <p>Diese Website wurde mithilfe der Angular Material UI erstellt und nutz HTML, CSS und Typescript.</p>
     <p>Copyright ©2020 All rights reserved.</p></div>
 <div>
     <h2>Kontakt</h2>
 <p class="brand-icon-container"><a href="https://www.xing.com/profile/Markus_Stachl2"><fa-icon [icon]="faXing" size="2x"></fa-icon></a><a href="https://www.linkedin.com/in/markusstachl/"><fa-icon [icon]="faLinkedinIn" size="2x"></fa-icon></a>
 </p>
<p>
<a href="/contact">Zum Kontaktformular</a>
</p></div>
</div>
</footer>