<form [formGroup]= "configForm" (ngSubmit)="onSubmit()">
    <p><mat-form-field appearance="fill">
        <mat-label>Select area</mat-label>
        <mat-select (valueChange)="do($event)">
            <mat-option *ngFor="let sight of options" [value]="sight">{{sight.title}}</mat-option>
        </mat-select>
      </mat-form-field></p>
    <mat-form-field appearance="fill">
        <mat-label for="Depth">depth</mat-label> <input matInput type="number" formControlName="depth">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="posX">posX</mat-label> <input matInput type="number" formControlName="posX">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label for="posY">posY</mat-label> <input matInput type="number" formControlName="posY">
    </mat-form-field>
    <p>
    <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="color" >
        <mat-button-toggle value="blue" aria-label="Text align left">
            <i class="material-icons blue600">stop_circle</i>
        </mat-button-toggle>
        <mat-button-toggle value="red" aria-label="Text align center">
            <i class="material-icons red600">stop_circle</i>
        </mat-button-toggle>
        <mat-button-toggle value="green" aria-label="Text align right">
            <i class="material-icons green600">stop_circle</i>
        </mat-button-toggle>
        <mat-button-toggle value="grey" aria-label="Text align right">
            <i class="material-icons grey600">stop_circle</i>
        </mat-button-toggle>
        <mat-button-toggle value="hsv1" aria-label="Text align right">
            HSV1
        </mat-button-toggle>
      </mat-button-toggle-group>
    </p>
    <p><button mat-raised-button color="primary" type="submit" [disabled]="!configForm.valid">Draw</button></p>
</form>