<h1>Anleitung</h1>
<p>Die Mandelbrot-Menge bietet theoretisch eine unendliche Tiefe und damit beliebig viel Freiraum zur eigenen Erkundung. Diese Webapplikation erlaubt die Erkundung dieser wunderbaren mathematischen Darstellung auf zwei unterschiedliche Arten:
<ul>
  <li>
    <p>Navigation über Richtungstasten:</p>
  <p>Über die Richtungsbuttons kann man sich beliebig im Bild bewegen. Die Buttons +/- dienen der Vergrößerung bzw. Verkleinerung des gezeigten Bildausschnitts. Diese Art ist für ideal für die freie Erkundung.</p>
</li>
  <li>
    <p>Navigation über Settings:</p>
  <p>In den Settings lässt sich ein spezifischer Punkt der Mandelbrot-Menge anhand dessen x- (posX) und y-Koordinaten (posY) "herauspicken" und über den Zoomfaktor (depth) vergrößern. Interessante Beispiele können über ein Auswahlfeld gewählt werden.</p>
</li>
</ul>
<p>Bei Interesse kann der gezeigte Ausschnitt als Bild gespeichert werden.</p>  

<p>Theorie der Mandelbrot-Menge: <a href="https://de.wikipedia.org/wiki/Mandelbrot-Menge">Wikipedia</a></p>
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Mandelbrot settings
    </mat-panel-title>
    <mat-panel-description>
      Edit configuration
      
    </mat-panel-description><mat-icon>build</mat-icon>
  </mat-expansion-panel-header>




<mandelbrot [config]="config" (update) = "updateMandelbrotConfig($event)"></mandelbrot>
</mat-expansion-panel>


<div style="width: 100%">
      <fractal-view [(config)]="config"></fractal-view> 
</div>

