<div class="container">
    <section class="timeline section-top-border">
        <div class="text-center">
            <div class="menu-content">
                <div class="title text-center">
                    <h1>Berufserfahrung</h1>
                </div>
            </div>
        </div>
          <ul>
            <li>
              <div class="content hidden" style="opacity: 1;">
                <h4>
                  <time>Bachelor in Mathematics</time>
                </h4>
                <p><b>Technische Universität München</b></p>
                <p>Oktober 2011 - Februar 2015</p>
              </div>
            </li>
            <li>
              <div class="content hidden" style="opacity: 1;">
                <h4>
                  <time>ERASMUS-Semester</time>
                </h4>
                        <p><b>UPC Barcelona</b></p>
                <p>Februar - Juni 2015</p>
              </div>
            </li>
            <li>
              <div class="content hidden" style="opacity: 1;">
                <h4>
                  <time>Master in Mathematik</time>
                </h4>
                <p><b>Technische Universtität München</b></p>
                <p>April 2015 - März 2017</p>
              </div>
            </li>
                <li>
                 <div class="content hidden" style="opacity: 1;">
                     <h4>
                         <time>Softwareentwickler</time>
                     </h4>
                     <p><b>msg systems ag</b></p>
                     <p>Juni 2017 - Dezember 2018</p>
                 </div>
             </li>
             <li>
                 <div class="content hidden" style="opacity: 1;">
                     <h4>
                         <time>Business Consultant IT</time>
                     </h4>
                     <p><b>msg systems ag</b></p>
                     <p>seit Dezember 2018</p>
                 </div>
             </li>
          </ul>
        </section></div>