.timeline>ul>li:before {
    content: '';
    background: #8490ff;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border: 5px solid #eee;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.timeline ul li:nth-child(odd) .content {
    left: 50px;
}

.section-top-border {
    padding: 50px 0;
    border-top: 1px dotted #eee;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.timeline ul li:nth-child(even) .content {
    left: calc(-360px - 45px);
}

.timeline ul li .content {
    background-color: white;
    box-shadow: 0px 10px 27px 3px rgba(204, 204, 204, 0.2);
    position: relative;
    top: 7px;
    width: 360px;
    padding: 30px;
}

.text-center {
    text-align: center;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.timeline ul li {
    background: #f9f9ff;
    position: relative;
    margin: 0 auto;
    width: 2px;
    padding-bottom: 40px;
    list-style-type: none;
}

@media screen and (max-width: 700px) {
.timeline ul li {
    margin-left: 20px;
}

.timeline ul li:nth-child(even) .content {
    left: 20px
}
}