<div class="content">
<mat-card>
    <mat-card-header><mat-card-title>	Card title</mat-card-title>
    <mat-card-subtitle>	Card subtitle</mat-card-subtitle></mat-card-header>
    

    <img mat-card-image src="assets/img/snake.png" alt="test">
    <mat-card-content>
        <p>
          The Himalayas is a mountain range in Asia.
        </p>
      </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header><mat-card-title>	Card title</mat-card-title>
    <mat-card-subtitle>	Card subtitle</mat-card-subtitle></mat-card-header>
    

    <img mat-card-image src="assets/img/snake.png" alt="test">
    <mat-card-content>
        <p>
          The Himalayas is a mountain range in Asia.
        </p>
      </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header><mat-card-title>	Card title</mat-card-title>
    <mat-card-subtitle>	Card subtitle</mat-card-subtitle></mat-card-header>
    

    <img mat-card-image src="assets/img/snake.png" alt="test">
    <mat-card-content>
        <p>
          The Himalayas is a mountain range in Asia.
        </p>
      </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-header><mat-card-title>	Card title</mat-card-title>
    <mat-card-subtitle>	Card subtitle</mat-card-subtitle></mat-card-header>
    

    <img mat-card-image src="assets/img/snake.png" alt="test">
    <mat-card-content>
        <p>
          The Himalayas is a mountain range in Asia.
        </p>
      </mat-card-content>
</mat-card>
</div>