/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

.material-icons.orange600 { color: #FB8C00; }
.material-icons.blue600 { color: rgb(0,0,251); }
